<div class="content-header pure-g">
	<div class="pure-u">
		<img class="header-image" alt="" src="/images/CIRC-<%= circCode %>-SQUARE-SPAR_tn.jpg"/>
	</div>
	<div class="pure-u">
		<h1 class="content-title"><%= title %></h1>
		<p class="content-subtitle">
			<%= subtitle %>
		</p>
	</div>

</div>
<div class="content-body">
	<h2 id="overview">Overview</h2>

	<h2 id="parts">Parts</h2>

	<h2 id="circuit">Circuit Layout</h2>

	<a href="/images/circ/CIRC<%= circCode %>-sheet.png"><img style="max-width:400px" src="/images/circ/CIRC<%= circCode %>-sheet.png" alt="Circuit Layout"/></a>

	<h2 id="assembly">Circuit Assembly</h2>
	<img src="/images/assembly/CIRC-<%= circCode %>-3dexploded.png" alt="Assembly Diagram"/>

	<h2 id="code">Code</h2>

	<h2 id="troubleshooting">Troubleshooting</h2>

	<h2 id="extending">Extending the Code</h2>

	<h2 id="more">More</h2>
</div>