<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="pure-g-r content<% if (!isExercise && title!="Electronics Primer") { %> noExerciseMenu<% } %>" id="layout">
  		<div class="pure-u<% if (!isExercise && title!="Electronics Primer") { %> noExerciseMenu<% } %>" id="nav">
  			<a href="#" class="nav-menu-button">Menu</a>
  			<div class="nav-inner">
  				<div class="pure-menu pure-menu-open">
  					<ul>
  						<li<% if (title=="Introduction") { %> class="selected"<% } %>><a href="/">Introduction</a></li>
  						<li class="pure-menu-heading">Reference</li>
  						<li<% if (title=="Electronics Primer") { %> class="selected"<% } %>><a href="/electronics-primer">Electronics Primer</a></li>
  						<li <% if (title=="JavaScript Primer") { %> class="selected"<% } %>><a href="/js-primer">JavaScript Primer</a></li>
  						<li class="pure-menu-heading">Exercises</li>
  						<% exercises.forEach(function(exercise, index){ %>

  						  <li class="<% if (isExercise && index == exIndex) { %>selected<% } %>">
  						  	<a href="/exercises/<%= index + 1 %>">
  						  		<%= index + 1 %>. <%= exercise.title %>
  						  	</a>
  						  </li>
  						<% }) %>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<% if (isExercise) { %>
  		  <% include exercisemenu %>
  		<% } %>
      <% if (title == "Electronics Primer") { %>
        <% include eprimermenu %>
      <% } %>
  		<div class="pure-u-1" id="main">
  			<div class="content">
  					<% if (isExercise) { %>
  					  <%- include exerciselayout %>
  					<% } else { %>
  					  <div class="content-header pure-g">
  						<div class="pure-u">
  							<h1 class="content-title"><%= title %></h1>
  							<p class="content-subtitle">
  								<%= subtitle %>
  							</p>
  						</div>
  					  </div>
  					  <div class="content-body">
  					    <%- content %>
  					  </div>
  					<% } %>
  			</div>
  		</div>
  	</div>  
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/vendor/ace/ace.js"></script>
    <script type="text/javascript" src="/javascripts/ss.js"></script>
  </body>
</html>







